header .miNav{
    background-color:  rgb(255, 217, 0);
    
    
}
header .miNav a{
    color:black;
    font-weight: 300;
}
header .dropdown-menu {
    background-color: rgb(255, 224, 51);
}
header .dropdown-menu li a:hover {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 217, 0);
}
.roboto {
    font-family: 'roboto', sans-serif;
}
/* .inverted {
    filter: invert(100%);
} */

.separador { 
    background-image: url("./img/DFL-CLU-000007.png"); 

    filter: brightness(90%);
    background-repeat:repeat-X ; 
    background-size: 30PX;
    /* background-color: rgb(255, 217, 0); */
    background-color: rgb(63, 63, 63);
}
.miCarrusel {
    max-width: 1280px;
    padding: 25px 0;
    margin: auto;
}
.fondoCarrusel {
    /* background-image: url("./img/dortmundFondo.jpg");
    background-repeat: no-repeat;
    height: 100%;
     */
     background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(./img/dortmundFondo.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
 
}
.tothetop {
    width: 4rem;
    height: 4rem;
    background: url(./img/flecha.svg) no-repeat center center;
    background-size: cover;
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    cursor: pointer;
    display: none;
    z-index: 2;
}
.misCartas .container .row2{
    display:flex;
    max-width: 1280px;
    margin:auto;
    padding: 20px 0px;
    justify-content: space-between;
}

.misCartasFondo {
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(./img/estadio2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
@media (max-width: 765px) {
    .misCartas .container .row2 {
        
        justify-content: center;
        margin:auto;
    }
}